<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Projects\Training\ElevatorV2WithEFAndAngularJs\Elevator\Elevator.Web\App_Data\ElevatorDb.mdf;Initial Catalog=ElevatorDb;Integrated Security=True" />
  </connectionStrings>
</configuration>